#Ignore all
*

#Unignore all Makefile files
!Makefile*
!makefile*

#Unignore all with extensions
!*.*

#Unignore all directories
!*/

#Ignore all vim temp files
*~
*.swp

#Ignore geany script
geany_run_script.sh

#Ignore object files
*.o
.vscode/tasks.json
